<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recipes</title>
</head>
<body>

    <h2>List of Recipes<h2>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="recipe : ${recipes}">
                <td th:text="${recipe?.id}">id</td>
                <td th:text="${recipe?.description}">desc</td>
            </tr>
        </tbody>
    </table>



</body>
</html>